@page "/"
@using Models
@inject NavigationManager NavigationManager
<PageTitle>Catálogo de veículos</PageTitle>

<h1>Catálogo de veiculos</h1>
<div class="row mb-4">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" @onclick="CreateVehicle">Novo veículo</button>
    </div>
</div>


@if (vehicles is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <DeleteGame Vehicle="@currentVehicle" OnClose="@OnDeleteModalClose">

    </DeleteGame>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano</th>
            <th scope="col">Preço</th>
            <th scope="col">Carroceria</th>
            <th scope="col">Data de compra</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {
                <tr>
                    <td>@vehicle.Id</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.Year</td>
                    <td>R$@vehicle.Price</td>
                    <td>@vehicle.BodyType</td>
                    <td>@vehicle.BuyingDate.ToString("MM/dd/yyyy")</td>
                    <td><button class="btn btn-primary" @onclick="(() => EditVehicle(vehicle.Id))">
                    <i class="oi oi-pencil"></i></button>
                    <button class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteModal"
                    @onclick="(() => currentVehicle = vehicle)">
                    <i class="oi oi-x"></i></button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private Vehicle[]? vehicles;
    private Vehicle? currentVehicle;
    protected override void OnInitialized()
    {
        vehicles = VehicleClient.GetVehicles();
    }

    private void CreateVehicle()
    {
        NavigationManager.NavigateTo("/vehicle");
    }
    private void EditVehicle(int id)
    {
        NavigationManager.NavigateTo($"/vehicle/{id}");
    }
    private void OnDeleteModalClose(bool accepted)
    {
        if(accepted)
        {
            VehicleClient.DeleteVehicle(currentVehicle!.Id);
            vehicles = VehicleClient.GetVehicles();
        }
    }
}